%ul{:class => "articles #{class_name}"}
  -results.each do |item|
    %li
      %h2
        %a{:href => item['url']}
          #{item['title']}
      -if item['byline']
        %cite= "#{capitalize(item['byline'])}"
      %time= "Published #{format_date(item['date'])}"
      %p= "#{item['body']}..."
  %li{:class => 'load'}
    %a{:"data-role" => "articles-loader", :"data-ajax-url" => "/articles?search=#{search}&offset=#{offset}", :class => "load-more", :href => "#"} Load more
