!!! 5
%html
  %head
    %title New York Times Grapher
    %link{:href => "/stylesheets/base.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %script{:src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'}
    %script{:src => '/javascript/tg.js'}
    :javascript
      $(document).ready(function () {
        TG.overlay.init();
        TG.articles.setUpHandlers();
      });
  %body
    %header
      %h1
        %a{:href => '/'}
          TimesGrapher
          %span Compare the New York Times&rsquo; coverage of any two topics in a given year. 
    %div.container
      %form
        %fieldset
          %input{:type => 'text', :name => 'search1', :placeholder => 'Enter a topic', :value => params[:search1]}
          %input{:type => 'text', :name => 'search2', :placeholder => 'Enter a second topic', :value => params[:search2]}
          %select{:name => "year"}
            %option{:value => "2011"} 2011
            %option{:value => "2010"} 2010
            %option{:value => "2009"} 2009
            %option{:value => "2008"} 2008
            %option{:value => "2007"} 2007
            %option{:value => "2006"} 2006
            %option{:value => "2005"} 2005
            %option{:value => "2004"} 2004
            %option{:value => "2003"} 2003
            %option{:value => "2002"} 2002
            %option{:value => "2001"} 2001
            %option{:value => "2000"} 2000
            %option{:value => "1999"} 1999 
            %option{:value => "1998"} 1998
            %option{:value => "1997"} 1997
            %option{:value => "1996"} 1996
            %option{:value => "1995"} 1995
            %option{:value => "1994"} 1994
            %option{:value => "1993"} 1993
            %option{:value => "1992"} 1992
            %option{:value => "1991"} 1991
            %option{:value => "1990"} 1990
            %option{:value => "1989"} 1989
            %option{:value => "1988"} 1988
            %option{:value => "1987"} 1987
            %option{:value => "1986"} 1986
            %option{:value => "1985"} 1985
            %option{:value => "1984"} 1984
            %option{:value => "1983"} 1983
            %option{:value => "1982"} 1982
            %option{:value => "1981"} 1981
          %input{:type => 'submit'}
          %a{:href => '/', :class => 'clear'} clear
      -if params[:search1]
        %h2= "In <em>#{@year}</em>, the New York Times published <em>#{format_num(@overall_total)} articles</em> containing <em>#{@queries[0]}</em> or <em>#{@queries[1]}</em>."
        %ul.graphs
          -@totals.each_with_index do |total, index|
            %li
              %div{:style => "width:#{get_percent(total, @overall_total)}%;"}
              %p= "#{total} articles (#{get_percent(total, @overall_total)}% of #{format_num(@overall_total)}) containing \"#{@queries[index]}\""
        %div.graph
          %ul.bars
            -@totals.each_with_index do |total, index|
              %li{:style => "height:#{get_percent(total, @overall_total)}%;", :class => "bar-#{index}"}
                %a{:href => "#", :title => "Browse articles", :"data-role" => "overlay-trigger", :"data-overlay" => "div.search#{index + 1}"} #{format_num(total)}
          %ul.labels
            -@totals.each_with_index do |total, index|
              %li{:class => "label-#{index}"}
                = "#{@queries[index]}"
          %ul.y-axis
            -get_factors(@overall_total, 6).each_with_index do |factor, index|
              %li{:class => "label-#{index}"}
                #{format_num(factor)}
      -if params[:search1]
        %div.search.search1.overlay
          %ul.articles
            -@full_data[0]['results'].each do |item|
              %li
                %h2
                  %a{:href => item['url']}
                    #{item['title']}
                -if item['byline']
                  %cite= "#{capitalize(item['byline'])}"
                %time= "Published #{format_date(item['date'])}"
                %p= "#{item['body']}..."
            %li{:class => 'load'}
              %a{:"data-role" => "articles-loader", :"data-ajax-url" => "/articles?search=#{params[:search1]}&offset=1", :class => "load-more", :href => "#"} Load more
        %div.search.search2.overlay
          %ul.articles
            -@full_data[1]['results'].each do |item|
              %li
                %h2
                  %a{:href => item['url']}
                    #{item['title']}
                -if item['byline']
                  %cite= "#{capitalize(item['byline'])}"
                %time= "Published #{format_date(item['date'])}"
                %p= "#{item['body']}..."
    %div.overlay.about
      %p
        TimesGrapher utilizes the
        %a{:target => "_blank", :href => "http://developer.nytimes.com/docs/read/article_search_api"} New York Times' articles API
      %p
        It's built on
        %a{:target => "_blank", :href => "http://www.sinatrarb.com/"} Sinatra
        and uses
        %a{:target => "_blank", :href => "http://haml-lang.com/"} haml
        and
        %a{:target => "_blank", :href => "http://sass-lang.com/"} sass.
      %p
        View its source code on
        %a{:target => "_blank", :href => "http://github.com/mdb/times_grapher"} Github.

      %p
        &copy; 2012
        %a{:target => "_blank", :href => "http://mikeball.us"} MDB
    %div#overlay-mask
    %footer{:class => "#{footer_class(params)}"}
      %ul
        %li
          &copy; 2012
          %a{:target => "_blank", :href => "http://mikeball.us"} MDB
        %li
          %a{:target => "_blank", :href => "http://github.com/mdb/times_grapher"} Source Code
        %li
          %a{:"data-role" => "overlay-trigger", :"data-overlay" => ".about", :href => "#"} About
