!!! 5
%html
  %head
    %title New York Times Grapher
    %link{:href => "/stylesheets/base.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %script{:src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'}
    %script{:src => '/javascript/tg.js'}
    :javascript
      $(document).ready(function () {
        TG.overlay.init();
      });
  %body
    %header
      %h1
        %a{:href => '/'}
          TimesGrapher
          %span Compare the New York Times&rsquo; coverage of any two topics in 2011. 
    %div.container
      %form
        %fieldset
          %input{:type => 'text', :name => 'search1', :placeholder => 'Enter a topic', :value => params[:search1]}
          %input{:type => 'text', :name => 'search2', :placeholder => 'Enter a second topic', :value => params[:search2]}
          %input{:type => 'submit'}
          %a{:href => '/', :class => 'clear'} clear
      -if params[:search1]
        %h2= "In 2011, the New York Times published <em>#{format_num(@overall_total)} articles</em> containing <em>#{@queries[0]}</em> or <em>#{@queries[1]}</em>."
        %ul.graphs
          -@totals.each_with_index do |total, index|
            %li
              %div{:style => "width:#{get_percent(total, @overall_total)}%;"}
              %p= "#{total} articles (#{get_percent(total, @overall_total)}% of #{format_num(@overall_total)}) containing \"#{@queries[index]}\""
        %div.graph
          %ul.bars
            -@totals.each_with_index do |total, index|
              %li{:style => "height:#{get_percent(total, @overall_total)}%;", :class => "bar-#{index}"}
                %a{:href => "#", :"data-role" => "overlay-trigger", :"data-overlay" => "ul.articles.search#{index + 1}"} #{format_num(total)}
          %ul.labels
            -@totals.each_with_index do |total, index|
              %li{:class => "label-#{index}"}
                = "#{@queries[index]}"
          %ul.y-axis
            -get_factors(@overall_total, 6).each_with_index do |factor, index|
              %li{:class => "label-#{index}"}
                #{format_num(factor)}
      -if params[:search1]
        %div.search
          %ul.articles.search1.overlay
            -@full_data[0]['results'].each do |item|
              %li
                %a{:href => item['url']}
                  #{item['title']}
                %time= "#{item['date']}"
                %cite= "#{item['byline']}"
                %p= "#{item['body']}..."
          %ul.articles.search2.overlay
            -@full_data[1]['results'].each do |item|
              %li
                %a{:href => item['url']}
                  #{item['title']}
                %time= "#{item['date']}"
                %cite= "#{item['byline']}"
                %p= "#{item['body']}..."
    %div#overlay-mask
