<!DOCTYPE html>
<html>
  <head>
    <title>TimesGrapher</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <header>
      <h1>
        <a href="/">
          TimesGrapher
          <span>Compare the New York Times’ coverage of any two topics in a given year.</span>
        </a>
      </h1>
    </header>

    <div class="container">

      <%= yield :content %>

    </div>

    <div id="about" class="modal">
      <div class="about modal-content">
        <a class="close" href="">x</a>
        <div class="modal-inner-content">
          <h1>About TimesGrapher</h1>
          <p>TimesGrapher utilizes the <a href="http://developer.nytimes.com/docs/read/article_search_api">New York Times' articles API</a>.</p>
          <p>It's built on <a href="http://rubyonrails.org">Rails</a> and <a href="http://backbonejs.org">Backbone.js</a>
          <p>It is not affiliated with the New York Times.</p>
          <p>View its source code on <a href="http://github.com/mdb/times_grapher">Github</a>.</p>
          <p>&copy; 2014 <a href="http://mikeball.us">MDB</a>.</p>
        </div>
      </div>
    </div>

    <footer class='no-search'>
      <ul>
        <li>&copy; 2012<a href='http://mikeball.us' target='_blank'>MDB</a></li>
        <li><a href='http://github.com/mdb/times_grapher' target='_blank'>Source Code</a></li>
        <li><a href='#about'>About</a></li>
        <li>Not affiliated with the New York Times</li>
      </ul>
    </footer>

    <%= yield :footer %>

  </body>
</html>
